{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'pointofequilibrium/styles.css' %}"/>
    <title></title>
  </head>
  <body>
    <a href="{% url 'logout' %}">Logout</a>
    <h2>{{ product }}</h2>
      <form action="{% url 'form_values_bank' product.id user.id %}" method="POST">
        {% csrf_token %}
        <div class="form-label-group">
          <input type="number" id="inputAmount" class="form-control" placeholder="Enter amount" name="amount" required autofocus >
          <label for="inputAmount">Amount</label>
        </div>

        <div class="form-label-group">
          <input type="number" id="inputDuration" class="form-control" placeholder="Enter duration in months" name="duration" required>
          <label for="inputDuration">Duration</label>
        </div>

        <div class="form-label-group">
          <input type="number" id="inputInterest" class="form-control" placeholder="Enter interest" name="interest"required>
          <label for="inputInterest">Interest rate</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="login">Submit</button>
              <hr class="my-4">
    </form>
    
  </body>
</html>
