<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1> Hello {{ user.username }}!!</h1>
    <h2>{{ user.username }}</h2>
    {% if user.is_superuser %}

      <a href="{% url 'admin:index' %}"><h2>Clik here if you want to go the admin view.</h2></a>
    {% endif %}
    <br>

    <a href="{% url 'logout' %}">Logout</a>
  
      
      <!--   here is -->
      
      <uL>
        {% for producttype in producttypes %}

            <li>
                <h3>{{ producttype.name  }}</h3>
            </li>
            <ul>
            {% for product in products %}
                  {% if producttype.id == product.productType.id%}
                  <li>
                    <a href="{% url 'product_choose' product.id user.id %}">{{ product.name }}</a>
                  </li>
                  {% endif %}
              {% endfor %}
            </ul>
        {% endfor %}
    </ul>
      
    <!--<div class="container-fluid">
      ::before
        <article class="main-body-wrapper">
          <h1 class="index-page--title">Grupos de productos bancarios</h1>
          <p class="index-page--subtitle">En <strong>punto de equilibrio</strong></p>
          <section class="type--products--wrapper">
              <a class="type--container type--container--link" href="{% url 'admin:index' %}"></a>

          </section>

        </article>
    </div>-->


  </body>
</html>
